.open-status {
    color: green;
    font-size: medium;
}

.closed-status {
    color: red;
    font-size: medium;
}

.col-12-modified {
    position: relative;
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}